@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Stan University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Stan University</h2>
        <p>
            Stan univserity is the leading university in pseudocode.
            We provide high quality degrees in pretending
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our Staff</h2>
        <p>Our staff contains only the best professors</p>
    </div>
    <div class="col-md-4">
        <h2>Our Campus</h2>
        <p>Our campus houses tens of buildings with at least three different degrees offered.</p>
    </div>
</div>